@import 'https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600;700;800&family=Montserrat:wght@400;500;600;800&display=swap';
@import './vars.scss';
@import './transitions.scss';

button {
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
}

a,
button {
    font-family: inherit;
    color: inherit;
}

p {
    line-height: 1.6;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--ui-text-color);
}

.border-box {
    box-sizing: border-box;
}

.d-none {
    display: none;
}

.d-grid {
    display: grid;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.d-inline-flex {
    display: inline-flex;
}

.row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.justify-content-left {
    justify-content: left !important;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.position-fixed {
    position: fixed;
}

.top-0 {
    top: 0;
}

.top-100 {
    top: 100%;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.position-relative {
    position: relative;
}

.position-sticky {
    position: sticky;
}

.position-absolute {
    position: absolute;
}

.cursor-default {
    cursor: default;
}

.cursor-pointer {
    cursor: pointer;
}

.w-100 {
    width: 100%;
}

.mw-100 {
    max-width: 100%;
}

.h-100 {
    height: 100%;
}

.opacity-0 {
    opacity: 0;
}

.opacity-50 {
    opacity: 50%;
}

.pe-none {
    pointer-events: none;
}

.pe-all {
    pointer-events: all;
}

.us-none {
    user-select: none;
}

.ease {
    transition: all 0.2s ease;
}

.cubic-bezier {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}

.br-5 {
    border-radius: 5px;
}

.br-8 {
    border-radius: 8px;
}

.br-10 {
    border-radius: 10px;
}

.br-13 {
    border-radius: 13px;
}

.br-15 {
    border-radius: 15px;
}

.br-20 {
    border-radius: 20px;
}

.br-30 {
    border-radius: 30px;
}

.br-40 {
    border-radius: 40px;
}

.br-50 {
    border-radius: 50%;
}

.indigo {
    color: var(--ui-indigo);
}

.secondary {
    color: var(--ui-secondary);
}

.danger {
    color: var(--ui-danger);
}

.ui-row-danger {
    background: var(--ui-danger-light);
}

.ui-row-warn {
    background: var(--ui-warn-light);
}

.ui-row-success {
    background: var(--ui-success-light);
}

.bg-light {
    background: var(--ui-light);
}

.bg-secondary {
    background: var(--ui-secondary);
}

.bg-size-cover {
    background-size: cover;
}

.bg-size-contain {
    background-size: contain;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-nowrap {
    white-space: nowrap;
}

.text-decoration-underline {
    text-decoration: underline;
}

.montserrat {
    font-family: 'Montserrat';
}

.fs-11 {
    font-size: 11px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-25 {
    font-size: 25px;
}

.fs-30 {
    font-size: 30px;
}

.lh-17 {
    line-height: 17px;
}

.lh-110 {
    line-height: 1.1;
}

.lh-120 {
    line-height: 1.2;
}

.lh-125 {
    line-height: 1.25;
}

.lh-140 {
    line-height: 1.4;
}

.lh-160 {
    line-height: 1.6;
}

.lh-180 {
    line-height: 1.8;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.ls-05 {
    letter-spacing: 0.5px;
}

.text-decoration-none {
    text-decoration: none;
}

.outline-none {
    outline: none;
}

.border-secondary {
    border: 1px solid var(--ui-secondary);
}

.z-index-n1 {
    z-index: -1;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}

.overflow-scroll {
    overflow: scroll;
}

@for $i from 0 through 10 {
    $val: $i * 5;

    .gap-#{$val} {
        gap: #{$val}px;
    }
    .grid-gap-#{$val} {
        grid-gap: #{$val}px;
    }
    .m-#{$val} {
        margin: #{$val}px;
    }
    .mb-#{$val} {
        margin-bottom: #{$val}px;
    }
    .mt-#{$val} {
        margin-top: #{$val}px;
    }
    .mr-#{$val} {
        margin-right: #{$val}px;
    }
    .ml-#{$val} {
        margin-left: #{$val}px;
    }
    .mx-#{$val} {
        margin-left: #{$val}px;
        margin-right: #{$val}px;
    }
    .my-#{$val} {
        margin-bottom: #{$val}px;
        margin-top: #{$val}px;
    }
    .p-#{$val} {
        padding: #{$val}px;
    }
    .pb-#{$val} {
        padding-bottom: #{$val}px;
    }
    .pt-#{$val} {
        padding-top: #{$val}px;
    }
    .pr-#{$val} {
        padding-right: #{$val}px;
    }
    .pl-#{$val} {
        padding-left: #{$val}px;
    }
    .px-#{$val} {
        padding-left: #{$val}px;
        padding-right: #{$val}px;
    }
    .py-#{$val} {
        padding-bottom: #{$val}px;
        padding-top: #{$val}px;
    }
}

@for $i from 1 through 20 {
    $val: $i * 2;

    .gap-#{$val} {
        gap: #{$val}px;
    }
    .grid-gap-#{$val} {
        grid-gap: #{$val}px;
    }
    .mb-#{$val} {
        margin-bottom: #{$val}px;
    }
    .mt-#{$val} {
        margin-top: #{$val}px;
    }
    .mr-#{$val} {
        margin-right: #{$val}px;
    }
    .ml-#{$val} {
        margin-left: #{$val}px;
    }
    .mx-#{$val} {
        margin-left: #{$val}px;
        margin-right: #{$val}px;
    }
    .my-#{$val} {
        margin-bottom: #{$val}px;
        margin-top: #{$val}px;
    }

    .pb-#{$val} {
        padding-bottom: #{$val}px;
    }
    .pt-#{$val} {
        padding-top: #{$val}px;
    }
    .pr-#{$val} {
        padding-right: #{$val}px;
    }
    .pl-#{$val} {
        padding-left: #{$val}px;
    }
    .px-#{$val} {
        padding-left: #{$val}px;
        padding-right: #{$val}px;
    }
    .py-#{$val} {
        padding-bottom: #{$val}px;
        padding-top: #{$val}px;
    }
}

.m-auto {
    margin: auto;
}

.mt-auto {
    margin-top: auto;
}

.ml-auto {
    margin-left: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.px-auto {
    padding-left: auto;
    padding-right: auto;
}

.py-auto {
    padding-top: auto;
    padding-bottom: auto;
}

.list-style-none {
    list-style: none;
}

.bg-transparent {
    background: transparent;
}

$degree: 0, 90, 180, 270, 360;

@each $deg in $degree {
    .rotate-#{$deg} {
        transform: rotate(#{$deg}deg);
    }
}

@for $i from 0 through 10 {
    .z-index-#{$i} {
        z-index: $i;
    }
}

.z-index-25 {
    z-index: 25;
}

.z-index-30 {
    z-index: 30;
}

.border-none {
    border: none;
}

.truncate {
    text-overflow: ellipsis;
}

.object-fit-cover {
    object-fit: cover;
}

.object-fit-contain {
    object-fit: contain;
}

.monospace {
    font-feature-settings: 'tnum';
}

.flip-horizontally {
    transform: scaleY(-1);
}

.ui-modal-enter-active,
.ui-modal-leave-active {
    transition: transform 0.25s ease;
}

.ui-modal-enter-from {
    transform: translateY(-100vh);
    @media (max-width: 768px) {
        transform: translateY(100vh);
    }
}

.ui-modal-leave-to {
    transform: translateY(100vh);
}

.ui-modal-enter-to {
    transform: translateY(0);
}

.ui-pop-enter-active,
.ui-pop-leave-active {
    transition:
        transform 0.4s cubic-bezier(0.5, 0, 0.5, 1),
        opacity 0.4s linear;
}

.ui-pop-enter-from,
.ui-pop-leave-to {
    opacity: 0;
    transform: scale(0.3) translateY(-50%);
}

.ui-fade-enter-active,
.ui-fade-leave-active {
    transition: all ease 0.5s;
}

.ui-fade-enter-from,
.ui-fade-leave-to {
    opacity: 0;
}

.ui-group-list-move,
.ui-group-list-enter-active,
.ui-group-list-leave-active {
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.ui-group-list-enter-from,
.ui-group-list-leave-to {
    opacity: 0;
    transform: translate(-30px, 0);
    //transform: scaleX(0.01) translate(0, -30px)
}

.ui-group-list-enter-from {
    //transform: translate(0, -30px)
}

.ui-group-list-leave-to {
    transform: translate(-10px, 0);
}

.ui-group-list-leave-active {
    position: absolute;
}

//

.ui-group-list-reverse-move,
.ui-group-list-reverse-enter-active,
.ui-group-list-reverse-leave-active {
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.ui-group-list-reverse-enter-from,
.ui-group-list-reverse-leave-to {
    opacity: 0;
    transform: translate(30px, 0);
    //transform: scaleX(0.01) translate(0, -30px)
}

.ui-group-list-reverse-enter-from {
    //transform: translate(0, -30px)
}

.ui-group-list-reverse-leave-to {
    transform: translate(10px, 0);
}

.ui-group-list-reverse-leave-active {
    position: absolute;
}

// DEFAULT
.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}
